---
import Layout from "../components/Layout.astro";
import Hero_img from "../components/Hero_img.astro";
import Image_w_List from "../components/Image_w_List.astro";
import FourDiv from "../components/FourDiv.astro";
import Button from "../components/Button.astro";
import TextBox from "../components/TextBox.astro";
---

<Layout title="About">
  <Hero_img
    heroImg="service_boost.png"
    tag_text="service"
    hero_text="creative services for boost your business growth"
  />

  <Image_w_List
    flex_row="flex_row-reverse"
    position_green="right_top_green"
    position_dots="right_top_dots"
    list_header="turn your ideas into reality."
    list_tag="our vision"
  >
    <img
      class="img_border"
      src="/images/our_vision.png"
      alt="picture of people working together"
      slot="img_slot"
    />

    <li slot="list_container" class="tick">
      <p>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </p>
    </li>
    <li slot="list_container" class="tick">
      <p>
        apitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital
      </p>
    </li>
  </Image_w_List>

  <FourDiv bg_color="gray_bg">
    <Button
      btn_text="get in touch"
      size="big_btn"
      variant="black_btn"
      slot="btn_slot"
    />
  </FourDiv>
  <TextBox
    box_header="hello"
    box_text="Lorem ipsum dolhor sit amet consectetur adipisicing elit. Officia eos, maiores autem qui animi sequi aut dolores et dicta voluptates laboriosam doloribus voluptas nisi velit porro sunt odio molestiae iusto!"
    box_tag="hello im a tag"
    variant="yellow_tag"
  />
</Layout>

<style>
  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
</style>
