---
import Layout from "../components/Layout.astro";
import Hero_img from "../components/Hero_img.astro";
import Image_w_List from "../components/Image_w_List.astro";
import FourDiv from "../components/FourDiv.astro";
import Button from "../components/Button.astro";
import TeamCard from "../components/TeamCard.astro";
const teamData = await fetch(
  "https://raw.githubusercontent.com/juleskj/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());
---

<Layout title="About">
  <Hero_img
    heroImg="service_boost.png"
    tag_text="service"
    hero_text="creative services for boost your business growth"
  />

  <Image_w_List
    flex_row="flex_row-reverse"
    position_green="right_top_green"
    position_dots="right_top_dots"
    list_header="turn your ideas into reality."
    list_tag="our vision"
  >
    <img
      class="img_border"
      src="/images/our_vision.png"
      alt="picture of people working together"
      slot="img_slot"
    />

    <li slot="list_container" class="tick">
      <p>
        Bring to the table win-win survival strategies to ensure proactive
        domination. At the end of the day.
      </p>
    </li>
    <li slot="list_container" class="tick">
      <p>
        apitalize on low hanging fruit to identify a ballpark value added
        activity to beta test override the digital
      </p>
    </li>
  </Image_w_List>

  <FourDiv bg_color="gray_bg">
    <Button
      btn_text="get in touch"
      size="big_btn"
      variant="black_btn"
      slot="btn_slot"
    />
  </FourDiv>
  <div class="Text_team">
    <div class="text_box">
      <p class="tag">our team</p>
      <h2>We champion the bold to achieve the extraordinary</h2>
      <p>
        Lorem ipsum dolhor sit amet consectetur adipisicing elit. Officia eos,
        maiores autem qui animi sequi aut dolores et dicta voluptates laboriosam
        doloribus voluptas nisi velit porro sunt odio molestiae iusto!
      </p>
    </div>
    <div id="card_container">
      {
        teamData.slice(0, 3).map((employ) => {
          return <TeamCard teamData={employ} />;
        })
      }
    </div>
  </div>
  <div>
    <div class="margin_auto">
      <div class="text_box">
        <p class="tag">FAQ</p>
        <h4>Custermer questions</h4>
      </div>
      <details name="a">
        <summary
          ><h6>what will happend when i've sent my application?</h6></summary
        >
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</p>
        </div>
      </details>
      <details name="a">
        <summary><h6>can i get free trail before i purchase?</h6></summary>
        <div>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
            impedit natus, error quasi placeat sit quaerat eos necessitatibus
            architecto, qui ipsam repudiandae saepe numquam quod autem deleniti
            ipsum, cumque aliquid.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</p>
        </div>
      </details>
      <details name="a">
        <summary
          ><h6>what should i inclide in my personal statemnt?</h6></summary
        >
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</p>
        </div>
      </details>
      <details name="a">
        <summary
          ><h6>will membership plans be charged automatically?</h6></summary
        >
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</p>
        </div>
      </details>
      <details name="a">
        <summary
          ><h6>what will happen when i've sent my application?</h6></summary
        >
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</p>
        </div>
      </details>
      <details name="a">
        <summary><h6>can i get a free trail before i purchase?</h6></summary>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt.</p>
        </div>
      </details>
    </div>
  </div>
</Layout>

<style>
  /******** team container style***********/

  div:has(.margin_auto) {
    background-color: var(--gray-color);
  }
  .margin_auto {
    margin: 100px 100px;
    & .text_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  }

  @media (width < 800px) {
    .margin_auto {
      margin: 0 0;
    }
  }

  .text_box:has(p) {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & p:not([class]) {
      word-wrap: break-word;
      max-width: 65ch;
    }
  }

  details {
    padding: var(--small-padding);
    border-bottom: solid 2px gray;

    & summary {
      list-style: none;
      display: flex;
      & h6 {
        text-transform: capitalize;
        margin-right: 100px;
      }
    }
  }

  details div {
    padding: 10px 0;
    word-break: break-all;
    max-width: 80ch;
  }

  summary::after {
    content: "+";
    font-size: 2rem;
    margin-left: auto;
    transition: 0.2s;
  }
  details[open] summary:after {
    content: " -";
    transform: scale(2);
  }

  /* sigh, Safari again */

  summary::-webkit-details-marker {
    display: none;
  }

  /* 

'
'
'
'
''
'
'
'
'*/

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
</style>
