---
import Layout from "../components/Layout.astro";
import Hero_img from "../components/Hero_img.astro";
---

<Layout title="Case Study">
  <Hero_img tag_text="case studies single" hero_text="taxes & efficiency" />
  <h1>ASTRO</h1>
  <div class="full-bleed">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eum quos
      veritatis ipsam, ipsa atque ab aut adipisci! Eius delectus dolores
      doloribus consequuntur, omnis eos maxime in odit obcaecati neque.
    </p>
  </div>
  <p class="feature">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eum quos
    veritatis ipsam, ipsa atque ab aut adipisci! Eius delectus dolores doloribus
    consequuntur, omnis eos maxime in odit obcaecati neque.
  </p>
</Layout>
