---
import Layout from "../components/Layout.astro";
import Hero_img from "../components/Hero_img.astro";
import Button from "../components/Button.astro";
---

<Layout title="Case Study">
  <Hero_img tag_text="case studies single" hero_text="taxes & efficiency" />

  <div class="img_container">
    <img class="under_box" src="/public/images/project_img.png" alt="" />

    <div class="box_over">
      <div class="info">
        <div class="case_name">
          <h6>case name</h6>
          <p>taxes & effeciency</p>
        </div>
        <div class="case_category">
          <h6>case category</h6>
          <p>business</p>
        </div>
        <div class="case_date">
          <h6>date</h6>
          <p>27th september 2022</p>
        </div>
      </div>
      <div class="button_div">
        <Button
          btn_value="/case_study"
          btn_text="live preveiw"
          size="big_btn"
          variant="yellow_btn"
        />
      </div>
    </div>
  </div>

  <article class="slim_content">
    <h4>Project overview</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ab eius
      explicabo, a dolore iusto culpa! Nobis natus amet iure sapiente hic
      corrupti illo exercitationem optio, earum quis fugiat accusamus.
    </p>

    <ul>
      <li>
        <p>
          It brings the right people together with all the right information and
          tools to get work done
        </p>
      </li>
      <li>
        <p>
          We provide operational efficiency, data security, and flexible scale
        </p>
      </li>
      <li>
        <p>
          Your best work, together in one package that works seamlessly from
          your compute
        </p>
      </li>
      <li>
        <p>
          Delivers the tools you need to save time Improve field performance
          always
        </p>
      </li>
    </ul>

    <h5>Storyboard</h5>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque assumenda
      delectus accusamus in incidunt ullam fugit illo, quia corrupti obcaecati
      iste et eligendi voluptate non voluptatibus magni adipisci corporis
      inventore?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque assumenda
      delectus accusamus in incidunt ullam fugit illo, quia corrupti obcaecati
      iste et eligendi voluptate non voluptatibus magni adipisci corporis
      inventore?
    </p>

    <img
      src="../images/case_study_img.png"
      alt="picture of two people working together"
    />
    <h5>Storyboard</h5>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque assumenda
      delectus accusamus in incidunt ullam fugit illo, quia corrupti obcaecati
      iste et eligendi voluptate non voluptatibus magni adipisci corporis
      inventore?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque assumenda
      delectus accusamus in incidunt ullam fugit illo, quia corrupti obcaecati
      iste et eligendi voluptate non voluptatibus magni adipisci corporis
      inventore?
    </p>
  </article>
</Layout>

<style>
  .slim_content {
    margin: 0 150px;
  }
  @media (width < 800px) {
    .slim_content {
      margin: 0 10px;
    }
  }

  .slim_content :is(ul, img) {
    padding: var(--even-padding-s);
  }

  /* image with a box over */

  img {
    object-fit: cover;
    flex-shrink: 0;
    border-radius: var(--small-border-radius);
  }

  .img_container {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
  }

  .box_over {
    /* get box over the image box */
    margin: -20px auto 0;
    z-index: 1;

    height: fit-content;
    background-color: var(--black-color);
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 2rem;
    padding: var(--even-padding-s);
    border-radius: var(--border-radius);

    & :not(.button_div) {
      color: white;
    }
  }

  .info {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;

    gap: 1rem;
  }

  ul {
    > * {
      padding: var(--small-padding) 0;
    }
  }
</style>
