---
import Layout from "../components/Layout.astro";
import Button from "../components/Button.astro";
import Image_w_List from "../components/Image_w_List.astro";
import FourDiv from "../components/FourDiv.astro";
import ScrollingElement from "../components/ScrollingElement.astro";
import SinglePieChart from "../components/SinglePieChart.astro";
import Pie_w_text from "../components/Pie_w_text.astro";

const teamData = await fetch(
  "https://raw.githubusercontent.com/juleskj/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());
---

<Layout title="Forside">
  <div class="hero_forside">
    <div class="full full-bleed">
      <div class="hero_header">
        <h2>helllow</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
          adipisci consequatur corporis non, est perspiciatis odit quas magnam.
          Placeat, repellendus! Facilis unde placeat cupiditate incidunt
          consequuntur eligendi, rem pariatur porro.
        </p>
        <Button btn_text="book a meeting" variant="white_btn" size="big_btn" />
      </div>
      <img src="../images/forside_hero.png" alt="" class="hero_img" />
    </div>

    <div class="box_over">
      <div class="hero_card">
        <h3>hehasd</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta
          recusandae quasi, doloribus molestias aspernatur ullam quo pariatur
          aliquid harum.
        </p>
        <Button
          btn_text="hellow im button"
          variant="black_btn"
          size="big_btn"
        />
      </div>
      <div class="hero_card">
        <h3>hehasd</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta
          recusandae quasi, doloribus molestias aspernatur ullam quo pariatur
          aliquid harum.
        </p>
        <Button
          btn_text="hellow im button"
          variant="black_btn"
          size="big_btn"
        />
      </div>
      <div class="hero_card">
        <h3>hehasd</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi soluta
          recusandae quasi, doloribus molestias aspernatur ullam quo pariatur
          aliquid harum.
        </p>
        <Button
          btn_text="hellow im button"
          variant="black_btn"
          size="big_btn"
        />
      </div>
    </div>
  </div>

  <Image_w_List
    position_green="left_top_green"
    position_dots="left_top_dots"
    list_header="what to expect"
    list_tag="we'll work with you"
  >
    <img
      class="img_border"
      src="/images/work_with_us.png"
      alt="picture of people working together"
      slot="img_slot"
    />

    <li slot="list_container" class="tick">
      Bring to the table win-win survival strategies to ensure proactive
      domination. At the end of the day.
    </li>
    <li slot="list_container" class="tick">
      apitalize on low hanging fruit to identify a ballpark value added activity
      to beta test override the digital
    </li>
  </Image_w_List>

  <ScrollingElement />

  <Pie_w_text
    pie_tag="experience"
    pie_header_text="More than 25 years of experience"
    pie_under_header="3000+ our clients are insured around the World"
  >
    <SinglePieChart percent="85%" pie_header="consisenty" slot="pie_slot" />
    <SinglePieChart percent="95%" pie_header="improvement" slot="pie_slot" />
    <SinglePieChart percent="90%" pie_header="branching" slot="pie_slot" />
  </Pie_w_text>

  <FourDiv bg_color="black_bg">
    <Button
      btn_text="get in touch"
      size="big_btn"
      variant="white_btn"
      slot="btn_slot"
    />
  </FourDiv>

  <Image_w_List
    position_green="left_bottom_green"
    position_dots="right_top_dots"
    list_header="contact us. it's easy."
    list_tag="process"
    grid_container="grid_img-container"
    flex_row="flex_row-reverse"
  >
    <img
      class="img_border span-2"
      src="/images/process2.png"
      alt="picture of people working together"
      slot="img_slot"
    />
    <img
      class="img_border"
      src="/images/process3.png"
      alt="picture of people working together"
      slot="img_slot"
    />
    <img
      class="img_border"
      src="/images/process1.png"
      alt="picture of people working together"
      slot="img_slot"
    />
    <li slot="list_container" class="contact call">
      <div class="info">
        <p>call today</p>
        <h6>+1 800 100 900</h6>
      </div>
    </li>
    <li slot="list_container" class="contact time">
      <div class="info">
        <p>monday til friday</p>
        <h6>9AM - 5PM</h6>
      </div>
    </li>
    <li slot="list_container" class="contact location">
      <div class="info">
        <p>USA office</p>
        <h6>195 Devonshire St Boston, MA 02110</h6>
      </div>
    </li>
  </Image_w_List>
</Layout>

<style>
  .hero_forside {
    display: flex;
    flex-direction: column;
    align-items: center;
    container-type: inline-size;
  }
  .full {
    display: flex;
    justify-content: center;
    align-items: center;

    @container (width < 800px) {
      display: grid;
      grid-template-columns: 1fr auto;

      & .hero_header {
        z-index: 1;
        padding: var(--even-padding-xs);
      }
      & img {
        filter: blur(16px);
      }
      > * {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }
    }
  }

  .hero_header,
  img {
    flex: 1 1 500px;
    max-width: 500px;
  }

  .box_over {
    /* get box over the image box */
    margin: -20px auto 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    & > * {
      flex: 1 1 200px;
      background-color: var(--transparent-black);
      backdrop-filter: blur(16px);

      color: var(--white-color);
      padding: var(--even-padding-s);
      border-radius: var(--border-radius);
      outline: 1px solid var(--gray-color);
    }
  }

  /**
*
*
*
*
*
*
*
*
*
*
*
*
* */

  .span-2 {
    grid-row: 1 / span 2;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }
  .call:before {
    content: url(/images/call.svg);
    display: inline-block;
  }

  .location:before {
    content: url(/images/location.svg);
    display: inline-block;
  }
  .time:before {
    content: url(/images/time.svg);
    display: inline-block;
  }
</style>
