---
import Layout from "../components/Layout.astro";
import Button from "../components/Button.astro";
import Image_with_list from "../components/Image_with_list.astro";
import Four_div from "../components/Four_div.astro";
import ScrollingElement from "../components/ScrollingElement.astro";
---

<Layout title="Forside">
  <div class="full-bleed">
    <div class="pie_textbox">
      <div class="text_box">
        <p class="tag" style="background-color:var(--white-color)">
          experience
        </p>
        <h2>More than 25 years of experience</h2>
        <p>3000+ our clients are insured around the World</p>
      </div>

      <div class="pie_container">
        <div class="container">
          <div class="pie_chart">
            <h4>85%</h4>
            <div class="parent" style="--percent: 85%">
              <div class="child"></div>
            </div>
          </div>
          <h4>Consistency</h4>
        </div>
        <div class="container">
          <div class="pie_chart">
            <h4>85%</h4>
            <div class="parent" style="--percent: 85%">
              <div class="child"></div>
            </div>
          </div>
          <h4>Improvement</h4>
        </div>
        <div class="container">
          <div class="pie_chart">
            <h4>85%</h4>
            <div class="parent" style="--percent: 85%">
              <div class="child"></div>
            </div>
          </div>
          <h4>Branching</h4>
        </div>
      </div>
    </div>
  </div>

  <Image_with_list
    position_green="left_top_green"
    position_dots="left_top_dots"
    list_header="what to expect"
    list_tag="we'll work with you"
  >
    <img
      class="img_border"
      src="/images/work_with_us.png"
      alt="picture of people working together"
      slot="img_slot"
    />

    <li slot="list_container" class="tick">
      Bring to the table win-win survival strategies to ensure proactive
      domination. At the end of the day.
    </li>
    <li slot="list_container" class="tick">
      apitalize on low hanging fruit to identify a ballpark value added activity
      to beta test override the digital
    </li>
  </Image_with_list>
  <Four_div bg_color="black_bg">
    <Button
      btn_text="get in touch"
      size="big_btn"
      variant="white_btn"
      slot="btn_slot"
    />
  </Four_div>
  <ScrollingElement />
  <Image_with_list
    position_green="left_bottom_green"
    position_dots="right_top_dots"
    list_header="contact us. it's easy."
    list_tag="process"
    grid_container="grid_img-container"
    flex_row="flex_row-reverse"
  >
    <img
      class="img_border span-2"
      src="/images/process2.png"
      alt="picture of people working together"
      slot="img_slot"
    />
    <img
      class="img_border"
      src="/images/process3.png"
      alt="picture of people working together"
      slot="img_slot"
    />
    <img
      class="img_border"
      src="/images/process1.png"
      alt="picture of people working together"
      slot="img_slot"
    />
    <li slot="list_container" class="contact call">
      <div class="info">
        <p>call today</p>
        <h6>+1 800 100 900</h6>
      </div>
    </li>
    <li slot="list_container" class="contact time">
      <div class="info">
        <p>monday til friday</p>
        <h6>9AM - 5PM</h6>
      </div>
    </li>
    <li slot="list_container" class="contact location">
      <div class="info">
        <p>USA office</p>
        <h6>195 Devonshire St Boston, MA 02110</h6>
      </div>
    </li>
  </Image_with_list>
</Layout>

<style>
  .pie_textbox {
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .text_box {
    flex: 1 1;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .pie_container {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .pie_chart {
    display: grid;
    grid-auto-rows: auto;

    & .parent {
      grid-area: 1 /1 / span 2 / span 2;
    }

    & h4 {
      display: grid;
      place-content: center;
      grid-area: 1 /1 / span 2 / span 2;
      z-index: 1;
    }
  }

  @property --percent {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
  }

  .parent {
    --pie-color: color-mix(
      in oklab,
      var(--yellow-color),
      var(--mix-with, 0% #fff)
    );

    --dark-pie-color: color-mix(
      in oklab,
      var(--yellow-color),
      var(--mix-with, 10% #000)
    );

    --offset-pos: 5px;
    animation: --pie 3s linear infinite;
    border: var(--offset-pos) solid transparent;
    background:
      linear-gradient(var(--pie-color), var(--pie-color)) padding-box,
      conic-gradient(var(--white-color) var(--percent), var(--dark-pie-color) 0)
        border-box;
    position: relative;

    .child {
      aspect-ratio: 1;
      border-radius: 50%;
      width: 15px;
      background: var(--black-color);
      outline: var(--white-color) 4px solid;
      position: absolute;
      offset-path: border-box;
      offset-distance: var(--percent);
      offset-anchor: 50% calc(50% - var(--offset-pos) / 2);
    }
  }

  @keyframes --pie {
    from {
      --percent: 0%;
    }
    to {
      --percent: 85%;
    }
  }

  .parent {
    aspect-ratio: 1;
    width: 150px;
    border-radius: 1e5px;
    margin-inline: auto;
  }

  .full-bleed {
    padding: 80px;
    background-color: var(--yellow-color);
  }
  /**
*
*
*
*
*
*
*
*
*
*
*
*
* */

  .span-2 {
    grid-row: 1 / span 2;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }
  .call:before {
    content: url(/images/call.svg);
    display: inline-block;
  }

  .location:before {
    content: url(/images/location.svg);
    display: inline-block;
  }
  .time:before {
    content: url(/images/time.svg);
    display: inline-block;
  }
</style>
