---
const { size, variant, link, a_text } = Astro.props;
---

<a class={size + " " + variant} href={link}>{a_text}</a>

<style>
  a {
    height: fit-content;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    text-transform: capitalize;
  }

  /************ diffrent size buttons ************/
  .big_anchor {
    padding: var(--big-padding);
  }

  .small_anchor {
    padding: var(--small-padding);
  }
  /************ diffrent variant buttons ************/
  .white_anchor {
    --anchor-color: color-mix(
      in oklab,
      var(--white-color),
      var(--mix-with, 0% #fff)
    );
    background-color: var(--anchor-color);
    border-radius: var(--border-radius);
    &:hover {
      --mix-with: 100% #000;
      outline: var(--white-color) solid 1px;
      color: var(--white-color);
      transition: 0.2s;
    }
    &:active {
      --mix-with: 20% #000;
    }
  }

  .black_anchor {
    --anchor-color: color-mix(
      in oklab,
      var(--black-color),
      var(--mix-with, 0% #fff)
    );
    background-color: var(--anchor-color);
    border-radius: var(--border-radius);
    color: var(--white-color);
    &:hover {
      --mix-with: 100% #fff;
      outline: 3px solid var(--black-color);
      color: var(--black-color);
      transition: 0.2s;
    }
    &:active {
      --mix-with: 20% #fff;
    }
  }

  .yellow_anchor {
    --anchor-color: color-mix(
      in oklab,
      var(--yellow-color),
      var(--mix-with, 0% #fff)
    );
    background-color: var(--anchor-color);
    border-radius: var(--border-radius);
    &:hover {
      --mix-with: 100% #fff;
      outline: 3px solid var(--yellow-color);
      color: var(--black-color);
      transition: 0.2s;
    }
    &:active {
      --mix-with: 20% #000;
    }
  }

  @media (width < 500px) {
    button {
      flex: 1 1 20px;
    }
  }
</style>
