---

---

<footer>
  <a href="/"><h2>AskExperts</h2></a>
  <hr />
  <p>
    ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Polic
  </p>
</footer>

<style>
  footer {
    padding:;
    background-color: var(--black-color);
    display: flex;
    flex-flow: wrap column;
    gap: 1rem;
    color: var(--white-color);
    padding: 36px;
    > *:not(hr) {
      align-self: center;
    }

    & hr {
      color: var(--gray-color);
    }
    & a {
      text-decoration: none;
      color: var(--gray-color);
    }
  }
</style>
