---
const { pie_tag, pie_header_text, pie_under_header } = Astro.props;
---

<div class="full-bleed">
  <div class="pie_textbox">
    <article class="text_box">
      <p class="tag" style="background-color:var(--white-color)">{pie_tag}</p>
      <h2>{pie_header_text}</h2>
      <p>{pie_under_header}</p>
    </article>

    <div class="pie_container">
      <slot name="pie_slot" />
    </div>
  </div>
</div>

<style>
  .pie_textbox {
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    & .text_box {
      flex: 1 1;
    }
    & .pie_container {
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }

  .full-bleed {
    padding: 80px;
    background-color: var(--yellow-color);
  }
</style>
