:root {
  --content-width: min(1200px, 100% - 1rem * 2);
  --full-width: minmax(1rem, 1fr);
  --feature-width: minmax(0, 2rem);
  --flow-space: 0.5rlh;
  --border-radius: 42px;
  --small-border-radius: 20px;

  --small-padding: 4px 16px;
  --big-padding: 15px 45px;

  --black-color: oklch(20.9% 0 0);
  --white-color: oklch(100% 3.5594404384177905e-8 106.37411429114086);
  --gray-color: oklch(97.02% 0 0);
  --yellow-color: oklch(84.54% 0.159 85.3);
  --green-color: oklch(67.36% 0.163 143.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 35px;
}
h5 {
  font-size: 30px;
}
h6 {
  font-size: 25px;
}

p,
ul,
ol {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

article {
  /* her giver vi alle elementer, untagen det første
      , margin-block-start på 0.5rlh som står for root
      line height og siger hvis den ikke findes så sæt den på 1em*/
  & > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  /* 2. For `h2`, sæt `—flow-space`-værdien til `2rlh`. */
  & h2 {
    --flow-space: 2rlh;
  }

  /* 3. For `h3`, sæt `—flow-space`-værdien til `1rlh`. */
  & h3 {
    --flow-space: 1rlh;

    /* 4. For alle elementer, der kommer lige 
      efter **`h3`**, reducér `—flow-space` til `.25rlh`. */

    & > {
      --flow-space: 0.25rlh;
    }
  }
}

/* her er mit layout med grid og subgrid, hvor jeg har lavet full-bleed og featured */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [full-start] var(--full-width) [feature-start] var(--feature-width)
    [content] var(--content-width) var(--feature-width) [feature-end] var(
      --full-width
    )
    [full-end];
}

/* her gør jeg at min header, footer og main har samme grid som body, da jeg gerne have at de kan være 
full bleed men deres content, som tekst skal være inde i content */
header,
footer,
main {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;
  > * {
    grid-column: content;
  }
}

.full-bleed {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;

  > * {
    grid-column: content;
  }
}

.feature {
  grid-column: feature;
}
